---
import type { Page } from "@/types";
import { Image } from "astro:assets";
import iconList from "@/images/iconList.svg";
import iconGrid from "@/images/iconGrid.svg";

const page: Page = Astro.props.page;
---

<div class="list-toggle">
  <button data-trigger-style-list aria-label="Liste">
    <Image src={iconList} alt="Icon Liste" />
  </button>
  <button data-trigger-style-grid arial-label="Raster">
    <Image src={iconGrid} alt="Icon Raster" />
  </button>
  <div class="w-[10.375rem]"></div>
</div>
<h1
  class="text-mobile-head xl:text-head font-nationalCompressedExtrabold uppercase"
  set:html={page.content.headline}
/>
<ul data-list class="project-list">
  {
    page.content.items.map((item) => {
      if (!item.image) {
        return null;
      }

      return (
        <li>
          <a href={item.uri}>
            <div class="image border-2">
              <Image
                src={item.image.src}
                alt={item.image.alt}
                width={item.image.width}
                height={item.image.height}
                widths={[320, 400, 480, 560, item.image.widths]}
                class="w-full"
              />
              <div class="text-mobile-bu bg-grey-caption inline-flex px-1.5 absolute bottom-0 left-0">{`${item.customer} ${item.projectname}`}</div>
            </div>
            <div class="title">
              <div class="text-mobile-sub-bold lg:text-sub-bold font-nationalCompressedExtrabold whitespace-nowrap">
                {item.customer}
              </div>
              <div class="text-mobile-sub-light lg:text-sub-light font-ppeditorialnew whitespace-nowrap">
                {item.projectname}
              </div>
            </div>
          </a>
        </li>
      );
    })
  }
</ul>

<script>
  document.addEventListener("astro:page-load", () => {
    const triggerStyleList = document.querySelector(
      "[data-trigger-style-list]"
    );
    const triggerStyleGrid = document.querySelector(
      "[data-trigger-style-grid]"
    );
    triggerStyleList?.addEventListener("click", () => {
      document.querySelector("[data-list]").classList.remove("grid");
    });
    triggerStyleGrid?.addEventListener("click", () => {
      document.querySelector("[data-list]").classList.add("grid");
    });
  });
</script>

<style>
  .list-toggle {
    @apply mb-8 w-full flex justify-between;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @screen lg {
      display: none;
    }
  }
  .project-list {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;

    @screen lg {
      margin-top: 3.75rem;
    }
  }

  .project-list .title {
    display: flex;
    column-gap: 0.5rem;
    align-items: flex-end;

    @screen lg {
      column-gap: 1.5rem;
    }
  }

  .project-list .image {
    display: none;
    position: relative;
  }

  .grid {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
  }

  .grid .image {
    display: block;
  }

  .grid .title {
    display: none;
  }
</style>
