---
import type { Page } from "@/types";
import { Image } from "astro:assets";

const page: Page = Astro.props.page;
---

<div>
  {
    page.content.slider?.map((item) => {
      const { mobile, desktop } = item.image;
      return (
        <div class="item">
          <div class="image">
            <Image
              src={mobile.src}
              alt={mobile.alt}
              width={mobile.width}
              height={mobile.height}
              widths={[320, 400, 640, 800, 1000]}
              sizes="100vw"
              class="mobile"
            />
            <Image
              src={mobile.src}
              alt={mobile.alt}
              width={mobile.width}
              height={mobile.height}
              widths={[800, 1000, 1200, 1400, 1800, 2000, 2400]}
              sizes="100vw"
              class="desktop"
            />
          </div>
          <a class="link" href={item.link.href}>
            {item.link.title}
          </a>
        </div>
      );
    })
  }
</div>

<style>
  .item {
    width: 100%;
    height: 100vh;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image {
      position: relative;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .mobile {
      @screen md {
        display: none;
      }
    }

    .desktop {
      display: none;

      @screen md {
        display: block;
      }
    }

    .link {
      position: absolute;
      inset: 0;
      pointer-events: auto;
    }
  }
</style>
