---
import type { Page } from "@/types";
import { Image } from "astro:assets";
import menuTagMobile from "@/images/menuTagMobile.svg";
import menuTagDesktop from "@/images/menuTagDesktop.svg";

const page: Page = Astro.props.page;
---

<div>
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        page.content.slider?.map((item) => {
          const { mobile, desktop } = item.image;
          return (
            <div class="swiper-slide item">
              <div class="image">
                <Image
                  src={mobile.src}
                  alt={mobile.alt}
                  width={mobile.width}
                  height={mobile.height}
                  widths={[320, 400, 640, 800, 1000]}
                  sizes="100vw"
                  class="mobile"
                />
                <Image
                  src={desktop.src}
                  alt={desktop.alt}
                  width={desktop.width}
                  height={desktop.height}
                  widths={[800, 1000, 1200, 1400, 1800, 2000, 2400]}
                  sizes="100vw"
                  class="desktop"
                />
                {item.caption && (
                  <div class="caption fd-subtitle">{item.caption}</div>
                )}
              </div>
              <a
                class="link"
                href={item.link.href}
                aria-label={item.link.title}
              />
            </div>
          );
        })
      }
    </div>
    <div class="swiper-button-prev fd-sublight">← zurück</div>
    <div class="swiper-button-next fd-sublight">weiter →</div>
    <div class="advertising" data-advertising>
      <Image
        src={menuTagMobile}
        alt="klebermetzler"
        class="w-full h-full object-fill landscape:hidden"
      />
      <Image
        src={menuTagDesktop}
        alt="klebermetzler"
        class="w-full h-full object-fill hidden landscape:block"
      />
    </div>
  </div>
  <button class="button-ads fd-bu" data-button-advertising
    >(Werbung ausblenden)</button
  >
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggleAds = document.querySelector("[data-button-advertising]");
    toggleAds.addEventListener("click", () => {
      // toggle the class "ads-hidden" on the advertising element
      const hideAds = document.querySelector("[data-advertising]");
      hideAds.classList.toggle("ads-hidden");

      // toggle the text content of the button
      if (hideAds.classList.contains("ads-hidden")) {
        toggleAds.textContent = "(Werbung einblenden)";
      } else {
        toggleAds.textContent = "(Werbung ausblenden)";
      }
    });
  });
</script>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  new Swiper(".swiper", {
    modules: [Navigation],
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<style>
  .advertising {
    position: absolute;
    inset: 3.5rem 2rem;
    z-index: 5;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    white-space: nowrap;
    width: auto;
    color: var(--color-white);
    transition: all 0.2s ease;
    text-shadow:
      1px 0 0 var(--color-black),
      -1px 0 0 var(--color-black),
      0 1px 0 var(--color-black),
      0 -1px 0 var(--color-black),
      2px 2px 8px rgba(0, 0, 0, 0.75);

    &:hover {
      text-shadow:
        1px 0 0 var(--color-black),
        -1px 0 0 var(--color-black),
        0 1px 0 var(--color-black),
        0 -1px 0 var(--color-black),
        2px 2px 2px rgba(0, 0, 0, 0.75);
    }
  }

  .swiper-button-prev {
    left: 1rem;

    @screen md {
      left: 2.5rem;
    }
  }

  .swiper-button-next {
    right: 1rem;

    @screen md {
      right: 2.5rem;
    }
  }

  .item {
    width: 100%;
    height: 100vh;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image {
      position: relative;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .mobile {
      @screen md {
        display: none;
      }
    }

    .desktop {
      display: none;

      @screen md {
        display: block;
      }
    }

    .link {
      position: absolute;
      inset: 0;
      pointer-events: auto;
    }
  }

  .caption {
    position: absolute;
    left: 2.5rem;
    bottom: 5rem;
    color: #fff;
    text-shadow:
      1px 0 0 var(--color-black),
      -1px 0 0 var(--color-black),
      0 1px 0 var(--color-black),
      0 -1px 0 var(--color-black);

    @screen md {
      bottom: 1.25rem;
    }
  }

  .button-ads {
    position: absolute;
    bottom: 5rem;
    z-index: 5;
    right: 1rem;
    color: var(--color-yellow);
    text-shadow:
      1px 0 0 var(--color-black-trans),
      -1px 0 0 var(--color-black-trans),
      0 1px 0 var(--color-black-trans),
      0 -1px 0 var(--color-black-trans);

    @screen md {
      bottom: 1.25rem;
    }
  }

  [data-advertising].ads-hidden {
    display: none;
  }
</style>
