---
import type { Props } from "@/types";
import AstroDebugger from "@/components/AstroDebugger.astro";
import Footer from "@components/Footer.astro";

const { meta } = Astro.props.page;
const metaTitle = meta.find((item) => item.tag === "title")?.content;
const metaTags = meta.filter((item) => item.tag !== "title");
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {
      metaTags.map((item) => {
        if (item.attributes.name) {
          return (
            <meta
              name={item.attributes.name}
              content={item.attributes.content}
            />
          );
        }
        return (
          <meta
            property={item.attributes.property}
            content={item.attributes.content}
          />
        );
      })
    }
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{metaTitle}</title>
    {
      import.meta.env.DEV && (
        <AstroDebugger page={Astro.props.page} global={Astro.props.global} />
      )
    }
  </head>
  <body>
    <slot />
    <Footer global={Astro.props.global} />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "DistantGalaxy";
    src: url("/fonts/PPEditorialNew-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "national-2-narrow-medium";
    src: url("/fonts/national-2-narrow-medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "national-2-compressed-regular";
    src: url("/fonts/national-2-compressed-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "national-2-compressed-extrabold";
    src: url("/fonts/national-2-compressed-extrabold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --background: 255, 255, 255;
    --color-black: 0, 0, 0;
    --font-national-narrow: "national-2-narrow-medium", sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: rgb(var(--background));
    color: rgb(var(--color-black));
    font-family: var(--font-national-narrow);
  }

  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
    margin: 0;
  }

  a {
    color: rgb(var(--color-black));
  }

  .fd-bu {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: 0.02em;
    color: #000000;
  }
</style>
